@model List<NDManager.ViewModels.PaymentViewModel>


<h1 class="mt-4">Nowa lista płatności</h1>
@using (Html.BeginForm("GeneratePayment", "Payment", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="card mb-4">
        <div class="card-body">
            <table id="datatablesSimple" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Value)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Deduction)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <th>
                                @Html.HiddenFor(model => model[i].KidId)
                                @Html.DisplayFor(model => model[i].FirstName)
                            </th>
                            <th>
                                @Html.HiddenFor(model => model[i].MonthNo)
                                @Html.DisplayFor(model => model[i].LastName)
                            </th>
                            <th>
                                @Html.HiddenFor(model => model[i].WorkingDays)
                                @Html.EditorFor(model => model[i].Value, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kwota" } })
                            </th>
                            <th>
                                @Html.EditorFor(model => model[i].Deduction, new { htmlAttributes = new { @class = "form-control", @placeholder = "Odliczenie" } })
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
            <input type="submit" class="btn btn-success float-right" value="Generuj płatności" />
        </div>
    </div>
    @section Scripts{
        <script src="/js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/js/datatables-simple-demo.js"></script>
        <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
    }
}